/* .homepage_services-subheading {
  color: var(--color-section-subheading);
} */

/* .second-section p {
  color: black;
  text-align: start;
} */

.homepage_services-heading {
  color: var(--color-section-heading);
}

.homepage_section-services-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.smallScreen_back {
  display: none;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  /* .homepage_section-one {
      flex-direction: column;
    } */
  .homepage_section {
    padding: 1rem;
  }

  .homepage_section-services-cards {
    grid-template-columns: 1fr 1fr;
  }

  .homepage_section-three {
    padding: 2rem;
  }

  .homepage_section-three-p {
    width: 90%;
  }

  .homepage_section-three {
    padding: 2rem;
  }

  .smallScreen_back {
    display: none;
  }

  .servicepage-section-content {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  .service_section-left-cd {
    width: 100%;
    padding: 1rem;
  }

  .service_section-right {
    width: 100%;
  }

  .servive_page_slider-content {
    right: inherit;
  }
}

@media screen and (max-width: 650px) {
  .homepage_section-services-cards {
    grid-template-columns: 1fr;
  }
  .homepage_section {
    padding: 2rem;
  }

  .servive_page_slider-content {
    padding: 0;
  }
  .largeScreen_back {
    display: none;
  }

  .smallScreen_back {
    display: block;
  }

  .service_btn {
    flex-direction: column;
    align-items: center;
  }
  .servive_page_slider-content {
    width: fit-content;
    padding: 2rem;
  }

  .second-section {
    padding: 1.5rem;
  }
}
