.app_header {
  height: 5.5rem;
  width: 100%;
  background: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.icon-transition {
  transition: var(--transition);
}

/* .app_header-link h3 {
  font-size: larger;
} */

.app_header-logo_img {
  justify-content: flex-start;
  align-items: center;
  width: 9rem;
  padding: 1rem;
  margin-left: 1.2rem;
}

.app_header-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.app_header-link a {
  color: var(--font-color-blue);
  transition: var(--transition);
  font-size: 1.2rem;
}

.app_header-link a:hover {
  color: var(--font-subheading-color);
}

.app_header-sign {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
  gap: 1rem;
}

.app_header-appointment-btn {
  justify-content: center;
  align-items: center;
}

.app_header-appointment-btn button {
  border: 1px solid transparent;
  border-radius: 1rem;
  font-family: var(--base-font);

  width: fit-content;

  font-size: large;
  cursor: pointer;
  transition: var(--transition);
}

.app_header-appointment-btn button:hover {
  background: var(--font-subheading-color);
}

.app_header-dropdown {
  display: none;
}

.app_header-dropdown button {
  margin-right: 2.4rem;
}

.app_header-dropdown {
  position: relative;
  display: none;

  list-style: none;
  height: fit-content;
}

.app_header-dropdown:hover .navbar_dropdown {
  display: block;
}

/* .navbar_dropdown {
  
  position: absolute;
  background: whitesmoke;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
} */

/* .navbar-dropdown-links {
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.navbar-dropdown-links:hover {
  color: #61b946;
  border-radius: 10px;
} */

.header_dropdown {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: grey;
  transition: var(--transition);
  padding: 2rem;
}

.section_header {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .whatsapp-btn {
    display: none;
  }
  .app_header-links {
    display: none;
  }
  .app_header-dropdown {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .navbar_dropdown {
    position: fixed;
    background: whitesmoke;
    width: 100%;
    height: fit-content;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid black;
    padding: 1rem;
  }

  .navbar-dropdown-links {
    padding: 1rem;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-weight: 500;
    color: black;
  }

  .navbar-dropdown-links:hover {
    color: #61b946;
  }
  .overlay {
    z-index: 100;
    margin-top: 85px;
    background: white;
  }
}

@media screen and (max-width: 650px) {
  .app_header-sign {
    display: none;
  }

  .whatsapp-btn {
    display: flex;
  }
}
